<%- include("templates/header", {cssPage: ""}) %>
<section style="background-color: #161513;">
    <div class="container py-5">
      
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://www.pngall.com/wp-content/uploads/5/Profile.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= firstname %> <%= lastname%></h5>
              <div class="d-flex justify-content-center mb-2"> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= email %> </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= gender%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Course</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=course%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Date of birth</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=dob%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=address%></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </section>
  <%- include("templates/footer") %>
